.abonements {
  background-color: #f8f9fc;

  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 64px;
    padding-bottom: 69px;
  }
}

.abonements h2 {
  text-align: center;
  margin-bottom: 17px;

  @include vp-1199 {
    margin-bottom: 20px;
  }
}

.abonements__inner {
  position: relative;

  &::after {
    position: absolute;
    right: -222px;
    bottom: -241px;

    content: "";

    display: block;
    width: 419px;
    height: 389px;

    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/abonements-decor.png");

    transform: rotate(150deg);

    @include vp-1199 {
      right: -181px;
      bottom: -207px;

      width: 409px;
      height: 345px;
    }

    @include vp-767 {
      display: none;
    }
  }

  @include vp-1199 {
    max-width: 442px;
    margin-left: auto;
    margin-right: auto;
  }
}

.abonements__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: repeat(1, 1fr);
  }

  @include vp-767 {
    gap: 35px;
  }
}

.abonements__item {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 55px 69px 61px 69px;
  background-color: $color-default-white;

  border: 7px solid transparent;

  @include vp-1199 {
    padding: 55px 110px 61px 110px;
  }

  @include vp-767 {
    padding: 44px 34px 47px 34px;
  }
}

.abonements__item:hover {
  border-image: linear-gradient(to left top, #00359f, #d10a42);
  border-image-slice: 1;
}

.abonements h3 {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 110.16%;

  margin-top: 0;
  margin-bottom: 10px;

  @include vp-767 {
    font-size: 22px;
    line-height: 110.16%;
  }
}

.abonements__desc {
  color: #495a7d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 66px;

  @include vp-767 {
    margin-bottom: 54px;
  }
}

.abonements__desc p {
  margin: 0;
}

.abonements__price {
  display: flex;
  align-items: center;

  position: relative;
  color: #103aae;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  margin-bottom: 33px;

  @include vp-767 {
    font-size: 48px;

    margin-bottom: 29px;
  }
}

.abonements__price p {
  position: relative;
  z-index: 1;

  margin: 0;
}

.abonements__price svg {
  position: relative;
  z-index: 1;

  @include vp-767 {
    width: 24px;
    height: 33px;
  }
}

.abonements__price-bg {
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);

  color: #e8e8e8;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  z-index: 0;

  @include vp-767 {
    font-size: 80px;

    bottom: -3px;
  }
}

.abonements__btn {
  width: 100%;
  background-color: $color-default-white;

  color: $color-default-black;

  padding-top: 19px;
  padding-bottom: 19px;

  border: 2px solid $color-default-black;

  transition: none;
}

.abonements__item:hover .abonements__btn {
  color: $color-default-white;
  background: linear-gradient(97deg, #ed0233 17.6%, #003eb7 95.31%);

  border: 2px solid $color-default-white;
}
