.custom-input {
  position: relative;

  display: flex;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  input {
    width: 100%;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $color-default-white;

    background: none;

    border: none;
    border-bottom: 1px solid #74819c;
    outline: none;

    padding-bottom: 5px;
    padding-left: 1px;

    transition: border 0.3s ease;

    &::placeholder {
      color: $color-default-white;
    }

    &:hover {
      border-bottom: 1px solid #444a57;
    }

    &:focus {
      border-bottom: 1px solid #444a57;
    }
  }

  &__label {
    @media screen and (max-width: 767px) {
      margin: 0 0 18px 0;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border-bottom: 2px solid #ff1553;

      &:focus,
      &:hover {
        border-bottom: 2px solid rgba(#ff1553, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border-bottom: 2px solid #22b259;

      &:focus,
      &:hover {
        border-bottom: 2px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    font-size: 10px;

    position: absolute;
    right: 0;
    bottom: -18px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
