.features {
  padding-top: 97px;
  padding-bottom: 80px;

  background-color: #f8f9fc;
}

.features__inner {
  width: 100%;
  max-width: 1038px;
  margin: 0 auto;

  @include vp-1199 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.features h2 {
  text-align: center;
  margin-bottom: 48px;
}

.features__list {
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  gap: 71px 60px;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
    gap: 27px;
    padding-top: 27px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.features__item {
  display: flex;

  grid-column: -2/-1;
  padding: 0 0 23px;

  border-bottom: 2px solid rgba(209, 10, 66, 0.2);

  @include vp-1199 {
    padding: 0;

    border: none;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
  }

  &:nth-child(2n) {
    grid-column: 1/2;
    padding-left: 20px;

    @media (max-width: 1199px) {
      padding-left: 0;
    }

    @media (max-width: 767px) {
      padding: 0 46px;
    }
  }

  &:nth-last-child(-n + 2) {
    padding-bottom: 0;
    margin-bottom: -23px;

    border-bottom: 2px solid transparent;
  }
}

.features__item h3 {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  margin-top: 0;
  margin-bottom: 6px;
}

.features__parametr {
  margin-right: 30px;
}

.features__value {
  font-size: 71px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  background: linear-gradient(128deg, #D10A42 0%, #0041CA 45.58%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include vp-1199 {
    font-size: 58px;
  }

  @include vp-767 {}
}

.features__parametr > span {
  display: block;

  color: #2E35AC;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  margin-top: -5px;
}

.features__desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
}

.features__desc p {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.features__item--center {
  grid-row: 1/3;
  grid-column: 2/3;

  flex-direction: column;
  align-items: center;

  text-align: center;
  color: $color-default-white;

  background-color: #1c3374;

  padding: 51px 30px 53px 30px;
  margin-top: 7px;
  margin-bottom: 59px;

  @include vp-1199 {
    width: 100%;
    max-width: 442px;
    grid-row: 2/3;
    grid-column: 1/-1;
    margin-right: auto;
    margin-left: auto;
  }

  @include vp-767 {
    max-width: 100%;
    grid-row: 3/4;
  }
}

.features__item--center .features__parametr {
  margin-right: 0;
}

.features__item--center .features__value {
  background: linear-gradient(128deg, #ffffff 0%, #ffffff 45.58%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include vp-1199 {
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
  }

  @include vp-767 {}
}

.features__item--center .features__parametr > span {
  color: $color-default-white;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  margin-top: 7px;
  margin-bottom: 37px;
}

.features__item--center .features__desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
