.intro {
  color: $color-default-white;
  background: conic-gradient(from 130.31deg at calc(50% - 460px) 257px, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);

  padding-bottom: 52px;

  @include vp-1199 {
    padding-bottom: 84px;
    background: conic-gradient(from 130.31deg at calc(50% - 222px) 201px, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
  }

  @include vp-767 {
    padding-bottom: 50px;
    background: conic-gradient(from 130.31deg at calc(50% - 49px) 169px, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
  }
}

.intro__inner {
  display: grid;
  grid-template-columns: 34% 1fr;
  align-items: end;
  justify-content: end;
  gap: 66px;

  @include vp-1199 {
    grid-template-columns: 48% 1fr;
    gap: 16px;
  }

  @include vp-767 {}
}

.intro__content {
  display: grid;
  grid-template-columns: 132px 1fr;
  grid-template-rows: max-content max-content max-content;
  align-items: end;
  justify-content: end;

  padding-bottom: 42px;

  @include vp-1199 {
    grid-template-columns: 113px 1fr;
    padding-bottom: 22px;
  }

  @include vp-767 {}
}

.intro__desc {
  grid-row: 1/-1;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  margin-bottom: 83px;

  @include vp-1199 {
    margin-bottom: 56px;
  }

  @include vp-767 {}
}

.intro span {
  display: block;

  font-family: $ff-alumisans;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: lowercase;
  text-align: right;

  margin-right: 49px;
  margin-bottom: 14px;

  @include vp-1199 {
    font-size: 34px;
    letter-spacing: 1.02px;

    margin-bottom: 7px;
    margin-right: 5px;
  }

  @include vp-767 {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}

.intro h1 {
  font-family: $ff-alumisans;
  text-align: right;
  font-size: 92px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 5px;

  margin-bottom: 47px;

  @include vp-1199 {
    font-size: 72px;
    letter-spacing: 3.6px;
    text-transform: none;
    -webkit-text-stroke-width: 4px;
    margin-bottom: 36px;
  }

  @include vp-767 {}
}

.intro__wrapper-btn {
  display: flex;
  justify-content: flex-end;
  grid-column: 1/-1;
}

.intro__btn {
  width: 100%;
  max-width: 234px;

  border: 4px solid $color-default-white;
  padding: 15px 25px 14px 25px;

  margin-right: -2px;

  @include vp-1199 {
    max-width: 188px;
  }

  @include vp-767 {
    max-width: 100%;

    margin-left: 0;
    margin-bottom: 70px;
    width: 100%;
  }
}

.intro__img {
  margin-top: -13px;

  @include vp-1199 {
    margin-top: 19px;
    margin-left: 13px;
  }

  @include vp-767 {
    display: none;
  }
}

.intro__img img {
  @include vp-1199 {
    width: auto;
    height: auto;
  }
}