.poster {
  padding-top: 120px;
  padding-bottom: 50px;

  color: $color-default-white;

  @include vp-1199 {
    padding-top: 101px;
  }

  @include vp-767 {
    padding-top: 70px;
  }
}

.poster__inner {
  display: flex;
  flex-wrap: wrap;
}

.poster__content {
  width: 43.1%;
  background: #ED0233;

  padding: 85px 77px 86px 77px;

  @include vp-1199 {
    padding: 47px 45px 86px 45px;
  }

  @include vp-767 {
    width: 100%;
    padding: 85px 77px 86px 77px;
  }
}

.poster__grid {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin-bottom: 19px;

  @include vp-1199 {
    grid-template-columns: 117px 1fr
  }

  @include vp-767 {}
}

.poster h2 {
  text-align: center;
  font-size: 82px;
  font-style: normal;
  font-weight: 600;
  line-height: 96%;
  letter-spacing: 2.46px;

  text-transform: uppercase;

  margin-bottom: 0;

  @include vp-1199 {
    font-size: 48px;
    letter-spacing: 1.44px;
  }
}

.poster h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  margin-top: 0;
  margin-bottom: 5px;

  @include vp-1199 {
    font-size: 12px;
    line-height: 100%;

    margin-bottom: 1px;
  }

  @include vp-767 {}
}

.poster__date {
  margin-top: -6px;
  margin-left: 51px;

  @include vp-1199 {
    margin-top: 0;
    margin-left: 29px;
  }

  @include vp-767 {}
}

.poster__item-date {
  &:first-child {
    margin-bottom: 18px;

    @include vp-1199 {
      margin-bottom: 0;
    }

    @include vp-767 {}
  }
}

.poster time {
  display: inline-flex;
  align-items: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  padding-top: 4px;
  border-top: 1px solid $color-default-white;

  @include vp-1199 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;

    padding-top: 0;
  }

  @include vp-767 {}
}

.poster__month,
.poster__year {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  margin-left: 7px;

  @include vp-1199 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  @include vp-767 {}
}

.poster__month {
  margin-bottom: -2px;

  @include vp-1199 {}

  @include vp-767 {}
}

.poster__desc {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  margin-bottom: 46px;

  @include vp-1199 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  @include vp-767 {}
}

.poster__desc p {
  margin: 0;
}

.poster__btn {
  width: 100%;

  border: 4px solid $color-default-white;
  padding-top: 20px;
  padding-bottom: 19px;

  @include vp-1199 {}

  @include vp-767 {}
}

.poster__img {
  width: 56.9%;

  @include vp-1199 {}

  @include vp-767 {
    width: 100%;
  }
}

.poster__img img {
  height: 100%;

  @include vp-1199 {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}