.promo {
  padding-top: 100px;
  padding-bottom: 60px;

  @include vp-767 {
    padding-bottom: 33px;
  }
}

.promo h2 {
  text-align: center;

  margin-top: 0;
  margin-bottom: 34px;

  @include vp-1199 {
    margin-bottom: 39px;
  }

  @include vp-767 {
    margin-bottom: 42px;
  }
}

.promo h3 {
  margin-top: 0;
}

.promo__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;

  @include vp-1199 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.promo__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $color-blue;

  padding: 22px 30px 27px 28px;

  border: 7px solid $color-red;
  border-image: linear-gradient(to left top, #00359f, #d10a42);
  border-image-slice: 1;

  @include vp-1199 {
    grid-row-start: span 1;

    padding: 17px 30px 29px 28px;

    min-height: 211px;
  }

  @include vp-767 {
    align-items: center;
    grid-row-start: span 2;

    padding: 29px 30px 36px 28px;
  }
}

.promo__item h3 {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  margin-bottom: 0;

  @include vp-1199 {
    margin-bottom: 4px;
  }
}

.promo__desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.promo__btn {
  display: inline-block;
  color: $color-blue;
  line-height: 100%;

  padding: 0;
  margin-top: auto;

  &::after {
    content: "";

    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-blue;

    margin-top: 2px;
  }
}

.promo__item--main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: span 2;
  align-items: stretch;

  padding: 0;

  border: none;

  @include vp-1199 {
    grid-template-columns: 41% 59%;
    grid-row: span 1;
    grid-column: 1/-1;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.promo__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;

  color: $color-default-white;

  padding: 46px 44px 45px 46px;
  background-color: $color-red;

  @include vp-1199 {
    padding: 46px 44px 47px 45px;
  }

  @include vp-767 {
    padding: 40px 44px 45px 45px;
    align-items: center;
  }
}

.promo__title--main {
  margin-bottom: 11px;
}

.promo__title--main h3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  margin-bottom: 0;

  @include vp-1199 {}

  @include vp-767 {}
}

.promo__title--main span {
  display: block;

  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  margin-top: 6px;
}

.promo__item--main .promo__desc {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

  @include vp-767 {
    margin-bottom: 32px;
  }
}

.promo__item--main .promo__btn {
  color: $color-default-white;
  font-size: 14px;
  letter-spacing: 0.7px;

  &::after {
    background-color: $color-default-white;
  }
}

.promo__img {
  width: 100%;
}

.promo__img img {
  width: 100%;
  object-fit: cover;
}

.promo__desc p {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}