.reviews {
  padding-top: 58px;
  padding-bottom: 120px;

  @include vp-1199 {}

  @include vp-767 {}
}

.reviews__slider-button-prev {
  top: 44%;
  left: 16px;
}

.reviews__slider-button-next {
  top: 44%;
  right: 16px;
}

.reviews__inner {
  position: relative;

  max-width: 705px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 72px;
  padding-right: 72px;

  @include vp-1199 {
  }

  @include vp-767 {
    // padding-left: 41px;
    // padding-right: 41px;
  }
}

.reviews h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 37px;
}

.reviews h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  margin-top: -8px;
  margin-bottom: 12px;
}

.reviews p {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.reviews__item {
  display: flex;

  height: auto;

  color: $color-default-white;

  padding: 62px 62px 57px 62px;
  background-color: $color-blue;

  @include vp-1199 {
    max-width: 100%;
    padding-left: 72px;
    padding-right: 72px;
  }

  @include vp-767 {
    padding-left: 41px;
    padding-right: 41px;
  }
}

.reviews__icon {
  flex-shrink: 0;
  width: 80px;
  height: 80px;

  margin-right: 28px;
}

.reviews__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.reviews__comment {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}